In [208]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import delle librerie

In [209]:
from pandas import DataFrame
#import del dataframe

In [210]:
territorio=pd.read_csv('C:/Users/magro/Desktop/progetto/Indice_Massa_Sesso.csv')
#lettura del file .csv

In [211]:
territorio
#visualizzazione del .csv

,ITTER107,Territorio,TIPO_DATO_AVQ,Tipo dato,MISURA_AVQ,Misura,SEXISTAT1,Sesso,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,18_BMI_SOTTO,sottopeso,THV,valori in migliaia,1,maschi,2020,2020,187.0,NaN,NaN
1,IT,Italia,18_BMI_NORMO,normopeso,THV,valori in migliaia,1,maschi,2020,2020,10376.0,NaN,NaN
2,IT,Italia,18_BMI_SOVRA,sovrappeso,THV,valori in migliaia,1,maschi,2020,2020,10601.0,NaN,NaN
3,IT,Italia,18_BMI_OBE,obesi,THV,valori in migliaia,1,maschi,2020,2020,2978.0,NaN,NaN
4,IT,Italia,18_BMI_SOTTO,sottopeso,THV,valori in migliaia,2,femmine,2020,2020,1353.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,2,centro area metropolitana,18_BMI_OBE,obesi,THV,valori in migliaia,9,totale,2020,2020,713.0,NaN,NaN
300,7,2.001 - 10.000 ab.,18_BMI_OBE,obesi,HSC,per 100 persone con le stesse caratteristiche,9,totale,2020,2020,12.2,NaN,NaN
301,8,10.001 - 50.000 ab.,18_BMI_OBE,obesi,THV,valori in migliaia,9,totale,2020,2020,1519.0,NaN,NaN
302,7,2.001 - 10.000 ab.,18_BMI_SOTTO,sottopeso,THV,valori in migliaia,9,totale,2020,2020,320.0,NaN,NaN
303,3,periferia area metropolitana,18_BMI_SOVRA,sovrappeso,HSC,per 100 persone con le stesse caratteristiche,9,totale,2020,2020,37.4,NaN,NaN

In [212]:
del territorio['ITTER107']
#eliminazione di una colonna di prova

In [213]:
territorio
#visualizzazione di prova

,Territorio,TIPO_DATO_AVQ,Tipo dato,MISURA_AVQ,Misura,SEXISTAT1,Sesso,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,Italia,18_BMI_SOTTO,sottopeso,THV,valori in migliaia,1,maschi,2020,2020,187.0,NaN,NaN
1,Italia,18_BMI_NORMO,normopeso,THV,valori in migliaia,1,maschi,2020,2020,10376.0,NaN,NaN
2,Italia,18_BMI_SOVRA,sovrappeso,THV,valori in migliaia,1,maschi,2020,2020,10601.0,NaN,NaN
3,Italia,18_BMI_OBE,obesi,THV,valori in migliaia,1,maschi,2020,2020,2978.0,NaN,NaN
4,Italia,18_BMI_SOTTO,sottopeso,THV,valori in migliaia,2,femmine,2020,2020,1353.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
299,centro area metropolitana,18_BMI_OBE,obesi,THV,valori in migliaia,9,totale,2020,2020,713.0,NaN,NaN
300,2.001 - 10.000 ab.,18_BMI_OBE,obesi,HSC,per 100 persone con le stesse caratteristiche,9,totale,2020,2020,12.2,NaN,NaN
301,10.001 - 50.000 ab.,18_BMI_OBE,obesi,THV,valori in migliaia,9,totale,2020,2020,1519.0,NaN,NaN
302,2.001 - 10.000 ab.,18_BMI_SOTTO,sottopeso,THV,valori in migliaia,9,totale,2020,2020,320.0,NaN,NaN
303,periferia area metropolitana,18_BMI_SOVRA,sovrappeso,HSC,per 100 persone con le stesse caratteristiche,9,totale,2020,2020,37.4,NaN,NaN

In [214]:
del territorio['TIPO_DATO_AVQ']
del territorio['MISURA_AVQ']
del territorio['SEXISTAT1']
del territorio['Seleziona periodo']
del territorio['Flag Codes']
del territorio['Flags']
#eliminazione colonne inutili

In [215]:
territorio
#visualizzazione

,Territorio,Tipo dato,Misura,Sesso,TIME,Value
0,Italia,sottopeso,valori in migliaia,maschi,2020,187.0
1,Italia,normopeso,valori in migliaia,maschi,2020,10376.0
2,Italia,sovrappeso,valori in migliaia,maschi,2020,10601.0
3,Italia,obesi,valori in migliaia,maschi,2020,2978.0
4,Italia,sottopeso,valori in migliaia,femmine,2020,1353.0
...,...,...,...,...,...,...
299,centro area metropolitana,obesi,valori in migliaia,totale,2020,713.0
300,2.001 - 10.000 ab.,obesi,per 100 persone con le stesse caratteristiche,totale,2020,12.2
301,10.001 - 50.000 ab.,obesi,valori in migliaia,totale,2020,1519.0
302,2.001 - 10.000 ab.,sottopeso,valori in migliaia,totale,2020,320.0
303,periferia area metropolitana,sovrappeso,per 100 persone con le stesse caratteristiche,totale,2020,37.4

In [216]:
territorio

,Territorio,Tipo dato,Misura,Sesso,TIME,Value
0,Italia,sottopeso,valori in migliaia,maschi,2020,187.0
1,Italia,normopeso,valori in migliaia,maschi,2020,10376.0
2,Italia,sovrappeso,valori in migliaia,maschi,2020,10601.0
3,Italia,obesi,valori in migliaia,maschi,2020,2978.0
4,Italia,sottopeso,valori in migliaia,femmine,2020,1353.0
...,...,...,...,...,...,...
299,centro area metropolitana,obesi,valori in migliaia,totale,2020,713.0
300,2.001 - 10.000 ab.,obesi,per 100 persone con le stesse caratteristiche,totale,2020,12.2
301,10.001 - 50.000 ab.,obesi,valori in migliaia,totale,2020,1519.0
302,2.001 - 10.000 ab.,sottopeso,valori in migliaia,totale,2020,320.0
303,periferia area metropolitana,sovrappeso,per 100 persone con le stesse caratteristiche,totale,2020,37.4

In [217]:
territorio[(territorio['Territorio'] == 'Piemonte') & (territorio['Misura'] == 'per 100 persone con le stesse caratteristiche')]

,Territorio,Tipo dato,Misura,Sesso,TIME,Value
44,Piemonte,sottopeso,per 100 persone con le stesse caratteristiche,totale,2020,3.5
45,Piemonte,normopeso,per 100 persone con le stesse caratteristiche,totale,2020,52.0
46,Piemonte,sovrappeso,per 100 persone con le stesse caratteristiche,totale,2020,33.8
47,Piemonte,obesi,per 100 persone con le stesse caratteristiche,totale,2020,10.6

In [218]:
territorio.iloc[44:48]

,Territorio,Tipo dato,Misura,Sesso,TIME,Value
44,Piemonte,sottopeso,per 100 persone con le stesse caratteristiche,totale,2020,3.5
45,Piemonte,normopeso,per 100 persone con le stesse caratteristiche,totale,2020,52.0
46,Piemonte,sovrappeso,per 100 persone con le stesse caratteristiche,totale,2020,33.8
47,Piemonte,obesi,per 100 persone con le stesse caratteristiche,totale,2020,10.6

In [219]:
regione_piemonte = territorio.iloc[44:48]

In [220]:
a = regione_piemonte[['Tipo dato', 'Value']]

In [221]:
tot_piemonte = a[(a['Tipo dato'] == 'sovrappeso') | (a['Tipo dato'] == 'obesi')]
tot_piemonte = tot_piemonte.groupby(['Tipo dato']).sum()
sum1 = tot_piemonte.sum()
sum1

Value    44.4
dtype: float64

In [222]:
regione_aosta = territorio.iloc[54:58]

In [223]:
b = regione_aosta[['Tipo dato', 'Value']]

In [224]:
tot_aosta = b[(b['Tipo dato'] == 'sovrappeso') | (b['Tipo dato'] == 'obesi')]
tot_aosta = tot_aosta.groupby(['Tipo dato']).sum()
sum2 = tot_aosta.sum()
sum2

Value    44.3
dtype: float64

In [225]:
regione_liguria = territorio.iloc[62:66]

In [226]:
c = regione_liguria[['Tipo dato', 'Value']]

In [227]:
tot_liguria = c[(c['Tipo dato'] == 'sovrappeso') | (c['Tipo dato'] == 'obesi')]
tot_liguria = tot_liguria.groupby(['Tipo dato']).sum()
sum3 = tot_liguria.sum()
sum3

Value    45.2
dtype: float64

In [228]:
regione_lombardia = territorio.iloc[70:74]

In [229]:
d = regione_lombardia[['Tipo dato', 'Value']]

In [230]:
tot_lombardia = d[(d['Tipo dato'] == 'sovrappeso') | (d['Tipo dato'] == 'obesi')]
tot_lombardia = tot_lombardia.groupby(['Tipo dato']).sum()
sum4 = tot_lombardia.sum()
sum4

Value    44.9
dtype: float64

In [231]:
regione_trentino = territorio.iloc[86:90]

In [232]:
e = regione_trentino[['Tipo dato', 'Value']]

In [233]:
tot_trentino = e[(e['Tipo dato'] == 'sovrappeso') | (e['Tipo dato'] == 'obesi')]
tot_trentino = tot_trentino.groupby(['Tipo dato']).sum()
sum5 = tot_trentino.sum()
sum5

Value    41.2
dtype: float64

In [234]:
regione_bolzano = territorio.iloc[94:98]

In [235]:
f = regione_bolzano[['Tipo dato', 'Value']]

In [236]:
tot_bolzano = f[(f['Tipo dato'] == 'sovrappeso') | (f['Tipo dato'] == 'obesi')]
tot_bolzano = tot_bolzano.groupby(['Tipo dato']).sum()
sum6 = tot_bolzano.sum()
sum6

Value    41.7
dtype: float64

In [237]:
regione_trento = territorio.iloc[102:106]

In [238]:
g = regione_trento[['Tipo dato', 'Value']]

In [239]:
tot_trento= g[(g['Tipo dato'] == 'sovrappeso') | (g['Tipo dato'] == 'obesi')]
tot_trento = tot_trento.groupby(['Tipo dato']).sum()
sum7 = tot_trento.sum()
sum7

Value    40.9
dtype: float64

In [240]:
regione_veneto = territorio.iloc[110:114]

In [241]:
h = regione_veneto[['Tipo dato', 'Value']]

In [242]:
tot_veneto = h[(h['Tipo dato'] == 'sovrappeso') | (h['Tipo dato'] == 'obesi')]
tot_veneto = tot_veneto.groupby(['Tipo dato']).sum()
sum8 = tot_veneto.sum()
sum8

Value    46.1
dtype: float64

In [282]:
regione_friuli = territorio.iloc[118:122]

In [283]:
i = regione_friuli[['Tipo dato', 'Value']]

In [284]:
tot_friuli = i[(i['Tipo dato'] == 'sovrappeso') | (i['Tipo dato'] == 'obesi')]
tot_friuli = tot_friuli.groupby(['Tipo dato']).sum()
sum9 = tot_friuli.sum()
sum9

Value    46.8
dtype: float64

In [285]:
regione_emilia = territorio.iloc[126:130]

In [286]:
j = regione_emilia[['Tipo dato', 'Value']]

In [287]:
tot_emilia = j[(j['Tipo dato'] == 'sovrappeso') | (j['Tipo dato'] == 'obesi')]
tot_emilia = tot_emilia.groupby(['Tipo dato']).sum()
sum10 = tot_emilia.sum()
sum10

Value    48.6
dtype: float64

In [246]:
regione_toscana = territorio.iloc[142:146]

In [247]:
k = regione_toscana[['Tipo dato', 'Value']]

In [248]:
tot_toscana = k[(k['Tipo dato'] == 'sovrappeso') | (k['Tipo dato'] == 'obesi')]
tot_toscana = tot_toscana.groupby(['Tipo dato']).sum()
sum11 = tot_toscana.sum()
sum11

Value    43.3
dtype: float64

In [249]:
regione_umbria = territorio.iloc[150:154]

In [250]:
l = regione_umbria[['Tipo dato', 'Value']]

In [251]:
tot_umbria = l[(l['Tipo dato'] == 'sovrappeso') | (l['Tipo dato'] == 'obesi')]
tot_umbria = tot_umbria.groupby(['Tipo dato']).sum()
sum12 = tot_umbria.sum()
sum12

Value    46.3
dtype: float64

In [252]:
regione_marche = territorio.iloc[158:162]

In [253]:
m = regione_marche[['Tipo dato', 'Value']]

In [254]:
tot_marche = m[(m['Tipo dato'] == 'sovrappeso') | (m['Tipo dato'] == 'obesi')]
tot_marche = tot_marche.groupby(['Tipo dato']).sum()
sum13 = tot_marche.sum()
sum13

Value    46.0
dtype: float64

In [255]:
regione_lazio = territorio.iloc[166:170]

In [256]:
n = regione_lazio[['Tipo dato', 'Value']]

In [257]:
tot_lazio = n[(n['Tipo dato'] == 'sovrappeso') | (n['Tipo dato'] == 'obesi')]
tot_lazio = tot_lazio.groupby(['Tipo dato']).sum()
sum14 = tot_lazio.sum()
sum14

Value    45.0
dtype: float64

In [288]:
regione_abruzzo = territorio.iloc[190:194]

In [289]:
o = regione_abruzzo[['Tipo dato', 'Value']]

In [290]:
tot_abruzzo = o[(o['Tipo dato'] == 'sovrappeso') | (o['Tipo dato'] == 'obesi')]
tot_abruzzo = tot_abruzzo.groupby(['Tipo dato']).sum()
sum15 = tot_abruzzo.sum()
sum15

Value    49.8
dtype: float64

In [258]:
regione_molise = territorio.iloc[198:202]

In [259]:
p = regione_molise[['Tipo dato', 'Value']]

In [260]:
tot_molise = p[(p['Tipo dato'] == 'sovrappeso') | (p['Tipo dato'] == 'obesi')]
tot_molise = tot_molise.groupby(['Tipo dato']).sum()
sum16 = tot_molise.sum()
sum16

Value    51.9
dtype: float64

In [261]:
regione_campania = territorio.iloc[206:210]

In [262]:
q = regione_campania[['Tipo dato', 'Value']]

In [263]:
tot_campania = q[(q['Tipo dato'] == 'sovrappeso') | (q['Tipo dato'] == 'obesi')]
tot_campania = tot_campania.groupby(['Tipo dato']).sum()
sum17 = tot_campania.sum()
sum17

Value    56.3
dtype: float64

In [264]:
regione_puglia = territorio.iloc[214:218]

In [265]:
r = regione_puglia[['Tipo dato', 'Value']]

In [266]:
tot_puglia = r[(r['Tipo dato'] == 'sovrappeso') | (r['Tipo dato'] == 'obesi')]
tot_puglia = tot_puglia.groupby(['Tipo dato']).sum()
sum18 = tot_puglia.sum()
sum18

Value    50.5
dtype: float64

In [267]:
regione_basilicata = territorio.iloc[222:226]

In [268]:
s = regione_basilicata[['Tipo dato', 'Value']]

In [269]:
tot_basilicata = s[(s['Tipo dato'] == 'sovrappeso') | (s['Tipo dato'] == 'obesi')]
tot_basilicata = tot_basilicata.groupby(['Tipo dato']).sum()
sum19 = tot_basilicata.sum()
sum19

Value    53.4
dtype: float64

In [270]:
regione_calabria = territorio.iloc[230:234]

In [271]:
t = regione_calabria[['Tipo dato', 'Value']]

In [272]:
tot_calabria = t[(t['Tipo dato'] == 'sovrappeso') | (t['Tipo dato'] == 'obesi')]
tot_calabria = tot_calabria.groupby(['Tipo dato']).sum()
sum20 = tot_calabria.sum()
sum20

Value    50.3
dtype: float64

In [273]:
regione_sicilia = territorio.iloc[246:250]

In [274]:
u = regione_sicilia[['Tipo dato', 'Value']]

In [275]:
tot_sicilia = u[(u['Tipo dato'] == 'sovrappeso') | (u['Tipo dato'] == 'obesi')]
tot_sicilia = tot_sicilia.groupby(['Tipo dato']).sum()
sum21 = tot_sicilia.sum()
sum21

Value    52.1
dtype: float64

In [276]:
regione_sardegna = territorio.iloc[254:258]

In [277]:
v = regione_sardegna[['Tipo dato', 'Value']]

In [278]:
tot_sardegna = v[(v['Tipo dato'] == 'sovrappeso') | (v['Tipo dato'] == 'obesi')]
tot_sardegna = tot_sardegna.groupby(['Tipo dato']).sum()
sum22 = tot_sardegna.sum()
sum22

Value    45.5
dtype: float64

In [291]:
territorio.to_csv('out.csv')